<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Jankoia Restaurant Menu</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/horizontalmenu.css">
    <style>
        /* Add this CSS to your horizontalmenu.css file */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
}

.modal-content img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* New CSS to hide the sidebar when modal is active */
body.modal-open .scrollmenu {
    display: none;
}

#google_translate_element{
    padding:0;
    margin-right:5px; 
    position: fixed; 
    right:20px; 
    bottom:30px; 
}

.goog-te-banner-frame.skiptranslate,.goog-te-gadget-simple img,img.goog-te-gadget-icon,.goog-te-menu-value span{
    display:none!important
}

.goog-te-menu-frame{
    box-shadow:none!important
}

.goog-te-gadget-simple{
    background-color:transparent!important;
    center / 12px no-repeat;
    background-size: 18px 18px
    }

.VIpgJd-ZVi9od-ORHb-OEVmcd{
    display:none!important
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed a{
    color:red!important
}
body{
    top:0!important
}
    </style>
</head>

<body>
<script>/*<![CDATA[*/ var lazyts=!1;window.addEventListener("scroll",function(){(0!=document.documentElement.scrollTop&&!1===lazyts||0!=document.body.scrollTop&&!1===lazyts)&&(!function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(e,a)}(),lazyts=!0)},!0); /*]]>*/</script>
<script>/*<![CDATA[*/ function googleTranslateElementInit(){new google.translate.TranslateElement({pageLanguage:'<%= language[0].code %>',includedLanguages:'<%= language[1].code %>,<%= language[2].code %>,<%= language[3].code %>,<%= language[4].code %>',layout:google.translate.TranslateElement.InlineLayout.SIMPLE},'google_translate_element')}; /*]]>*/</script>

<div id="google_translate_element"></div>
    <div
        style="width: 100%; height: 50%; min-height: 240px; max-height: 450px; background: url(<%= backgroundImage %>) center / cover no-repeat;">
        <!--<h1 style="text-align: center; padding-top: 30%; color: black;">Jankoia Restaurant Menu</h1>-->
    </div>
    <div class="container" style="padding-top:40px;">
        <div>
            <div class="col scrollmenu">
                <% categories.forEach(function(category) { %>
                <a href="#<%= category.category_id %>"><%= category.category_name %></a>
                <% }); %>
            </div>
            <div class="col items" style="text-align: center; margin-top:30px;">
                <% categories.forEach(function(category) { %>
                    <a href="#<%= category.category_name %>" id="<%= category.category_id %>" class="link" style="position: relative;"><%= category.category_name %></a>
                    <div style="text-align: left; margin-top: 20px;">
                        <div>
                            <% category.items.forEach(function(item) { %>
                                <div class="custom-card" onclick="openModal('<%= item.item_name %>', '<%= item.price %> <%= currency %>', '<%= item.description %>', '<%= item.image %>')">
                                    <img src="<%= item.image %>" alt="<%= item.item_name %>">
                                    <div class="card-content">
                                        <h5><%= item.item_name %></h5>
                                        <div class="price"><%= item.price %> <%= currency %></div>
                                         <div class="description"><%= item.description.length > 120 ? item.description.substring(0, 120) + '...' : item.description %></div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <img id="modalImage" src="" alt="">
            <h2 id="modalItemName"></h2>
            <div id="modalPrice"></div>
            <p id="modalDescription"></p>
        </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
    <script>
        // JavaScript to handle the modal
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];

        function openModal(name, price, description, image) {
            document.getElementById("modalItemName").innerText = name;
            document.getElementById("modalPrice").innerText = price;
            document.getElementById("modalDescription").innerText = description;
            document.getElementById("modalImage").src = image;
            modal.style.display = "block";
            document.body.classList.add("modal-open");
        }

        span.onclick = function() {
            modal.style.display = "none";
            document.body.classList.remove("modal-open");
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                document.body.classList.remove("modal-open");
            }
        }
    </script>
</body>

</html>
