<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Buttons</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Toggle CSS -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

        <style>
        .sortable-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 300px;
            margin: 0 auto;
        }

        .sortable-list li {
            margin: 5px 0;
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            cursor: move;
            border-radius: 8px;
        }

        .centered-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* This ensures the children are laid out in a row */
    text-align: center; /* This centers the text inside the children, if needed */
}
    </style>
</head>

<body id="page-top">

<!-- Update Item Modal -->
<div class="modal fade" id="updateItemModal" tabindex="-1" aria-labelledby="updateItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateItemModalLabel">Update Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="updateItemForm" onsubmit="updateItem(event)">
                <div class="modal-body">
                    <input type="hidden" name="itemId" id="updateItemId">
                    <div class="form-group">
                        <label for="updateItemName">Item Name</label>
                        <input type="text" class="form-control" id="updateItemName" name="itemName" required>
                    </div>
                    <div class="form-group">
                        <label for="updateItemPrice">Item Price</label>
                        <input type="text" class="form-control" id="updateItemPrice" name="price" required>
                    </div>
                    <div class="form-group">
                        <label for="updateItemDescription">Item Description</label>
                        <input type="text" class="form-control" id="updateItemDescription" name="description" required>
                    </div>
                    <div class="form-group">
                        <label for="updateItemCategory">Choose Category</label>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" aria-expanded="false" id="updateItemCategory" data-bs-toggle="dropdown" type="button">Choose Category</button>
                            <input type="hidden" name="categoryId" id="updateCategoryId">
                            <div class="dropdown-menu setCategoryForUpdate">
                                <% categories.forEach(categry => { %>
                                    <a class="dropdown-item" id="<%= categry.category_id %>" href="#">
                                        <%= categry.category_name %>
                                    </a>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateItemImage">Item Image <br/> *let it empty if you want to user the old image*</label>
                        <input type="file" class="form-control" id="updateItemImage" name="image" accept="image/*">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Item</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Easy <sup>menu</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="dashboard.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Management</span>
                </a>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="/management/menu/<%= user.user_id %>">Menues</a>
                        <a class="collapse-item" href="/management/category/<%= user.user_id %>">Categories</a>
                        <a class="collapse-item active" href="/management/items/<%= user.user_id %>">Items</a>
                    </div>
                </div>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <!--<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                 Counter - Alerts 
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>-->
                            <!-- Dropdown - Alerts 
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                            -->
                        </li>

                        
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= user.company_name %></span>
                                <img class="img-profile rounded-circle"
                                    src="/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/management/profile/<%= user.user_id %>">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div style="border-bottom-style: solid;">
                        <div style="position: relative;display: flex;text-align: center;margin: 10px;">
                            <div class="col" style="text-align: center;position: relative;display: block;">
                                <label class="col-form-label">Here you can delete or update the selected item</label>
                            </div>
                        </div>
                        <div style="position: relative;display: flex;text-align: center;margin: 10px;margin-bottom: 30px;">
                            <div class="col" style="text-align: center;position: relative;display: block;">
                                <form action="/deleteitem" method="post">
                                    <div class="dropdown" style="text-align: center;display: inline;margin-right: 18px;">
                                        <button class="btn btn-primary dropdown-toggle" aria-expanded="false"
                                            data-bs-toggle="dropdown" id="deleteitem" name="item" type="button">Items </button>
                                        <div class="dropdown-menu deleteitem">
                                            <% items.forEach(item=> { %>
                                                <a class="dropdown-item" id="<%= item.item_id %>" href="#">
                                                    <%= item.item_name %>
                                                </a>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <input type="hidden" name="itemId" id="itemId" />
                                    <div class="centered-row">
                                        <button class="btn btn-primary" type="button" id="updateButton" style="margin: 10px;">Update</button>
                                        <button class="btn btn-primary" type="submit" style="margin: 10px;">Delete</button>
                                        <div id="statusContainer" style="text-align: center; ">
                                            <input type="checkbox" id="toggleStatus" data-toggle="toggle" data-on="Active" data-off="Deactiv" data-onstyle="primary" data-offstyle="danger">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <form onsubmit="upload(event)">
                    <!-- your form fields -->
                    <div style="position: relative;margin-top: 15px;">
                        <div class="col" style="text-align: center;"><label class="col-form-label"
                                style="position: relative;text-shadow: 0px 0px 0px var(--bs-link-color);">Item
                                Name</label></div>
                        <div class="col" style="text-align: center;"><input required name="itemName" type="text"
                                style="border-radius: 8px;box-shadow: 1px 1px 5px var(--bs-blue);" /></div>
                    </div>
                    <div style="position: relative;margin-top: 15px;">
                        <div class="col" style="text-align: center;"><label class="col-form-label"
                                style="position: relative;text-shadow: 0px 0px 0px var(--bs-link-color);">Item
                                Price</label></div>
                        <div class="col" style="text-align: center;"><input required name="price" type="text"
                                style="border-radius: 8px;box-shadow: 1px 1px 5px var(--bs-blue);" /></div>
                    </div>
                    <div style="position: relative;margin-top: 15px;">
                        <div class="col" style="text-align: center;"><label class="col-form-label"
                                style="position: relative;text-shadow: 0px 0px 0px var(--bs-link-color);">Item
                                Description</label></div>
                        <div class="col" style="text-align: center;"><input required name="description" type="text"
                                style="border-radius: 8px;box-shadow: 1px 1px 5px var(--bs-blue);" /></div>
                    </div>
                    <div style="position: relative;margin-top: 15px;">
                        <div class="col" style="text-align: center;"><label class="col-form-label"
                                style="position: relative;text-shadow: 0px 0px 0px var(--bs-link-color);">Choose
                                Category</label></div>
                        <div class="col" style="text-align: center;">
                            <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false"
                                    id="setcategory" data-bs-toggle="dropdown" type="button">Choose Category</button>
                                <input type="hidden" name="categoryId" id="categoryId" />
                                <div class="dropdown-menu setcategory" required>
                                    <% categories.forEach(categry=> { %>
                                        <a class="dropdown-item" id="<%= categry.category_id %>" href="#">
                                            <%= categry.category_name %>
                                        </a>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative;margin-top: 15px;">
                        <div class="col" style="text-align: center;"><label class="col-form-label"
                                style="position: relative;text-shadow: 0px 0px 0px var(--bs-link-color);">Item
                                Image</label></div>
                        <div class="col" style="text-align: center;"><input required name="image" type="file" accept="image/*"
                                style="border-radius: 4px;border-width: 0px;position: relative;" /></div>
                    </div>
                    <div style="position: relative;margin-top: 40px;text-align: center;color: var(--bs-btn-disabled-color);">
                        <button class="btn btn-primary" type="submit"
                            style="background: rgb(42,208,28);position: relative;filter: brightness(96%) contrast(93%);backdrop-filter: blur(46px);transform: perspective(0px) translate(0px);">Add
                            Item</button>
                </form>

                <div style="border-bottom-style: solid;"></div>
                <div class="centered-container" style="margin-top: 60px; margin-bottom: 60px;">
                    <label>Drag and Drop to set the order of the Categories.</label>
                    <div class="col" style="text-align: center; margin-bottom: 10px;">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" aria-expanded="false" id="orderItems"
                                data-bs-toggle="dropdown" type="button">Choose Category</button>
                            <div class="dropdown-menu orderItems">
                                <% categories.forEach(categry=> { %>
                                    <a class="dropdown-item" id="<%= categry.category_id %>" href="#">
                                        <%= categry.category_name %>
                                    </a>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <ul id="sortable" class="sortable-list">
                    </ul>
                </div>
                </div>
                <!-- /.container-fluid -->
                </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Easy Menu  <%= year %></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Bootstrap Toggle JS -->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#statusContainer').hide();
            
            // Event listener for dropdown items
            $('.setcategory a').on('click', function () {
                // Get the text of the clicked item
                var selectedText = $(this).text();
                var selectedId = $(this).attr('id');
                // Update the dropdown button text
                $('#setcategory').text(selectedText);
                // Update the dropdown button data-id attribute
                $('#categoryId').val(selectedId);
            });

            $('#updateButton').on('click', function () {
                    var item_id = $('#itemId').val();
                    if (item_id === "") {
                        alert('Please select an item to update');
                        return;
                    }
                    
                    fetch('/get-item?itemId=' + item_id)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data.item);
                            $('#updateItemId').val(data.item.item_id);
                            $('#updateItemName').val(data.item.item_name);
                            $('#updateItemPrice').val(data.item.price);
                            $('#updateItemDescription').val(data.item.description);
                            //make it better by fetching the category name
                            fetch('/get-category-name?categoryId=' + data.item.category_id)
                                .then(response => response.json())
                                .then(data => {
                                    $('#updateItemCategory').text(data.category.category_name);
                                    $('#updateCategoryId').val(data.category.category_id);
                                }).catch(error => {
                                    alert('Failed to fetch category details, please try again');
                                    console.error('Error fetching category:', error);
                                });
                            
                            $('#updateItemModal').modal('show');
                        }).catch(error => {
                            alert('Failed to fetch item details, please try again');
                            console.error('Error fetching item:', error);
                        });
                });


            $('.deleteitem a').on('click', function () {
                // Get the text of the clicked item
                var selectedText = $(this).text();
                var selectedId = $(this).attr('id');
                // Update the dropdown button text
                $('#deleteitem').text(selectedText);

                fetch('/get-item-status?itemId=' + selectedId)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.item.item_status === true) {
                            $('#toggleStatus').bootstrapToggle('on');
                        } else {
                            $('#toggleStatus').bootstrapToggle('off');
                        }
                        document.getElementById('statusContainer').style.display = 'block';
                        $('#toggleStatus').change(function () {
                            var status = $(this).prop('checked');
                            var itemId = $('#itemId').val();

                            if (itemId === "") {
                                alert('Please select an item to update');
                                return;
                            }
                            fetch('/update-item-status', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ itemId: itemId, status: status }),
                            }).then(response => response.json())
                                .then(data => {
                                    console.log('Success:', data);
                                }).catch((error) => {
                                    alert('Failed, please try again')
                                    console.error('Error:', error);
                                });
                        });
                    }).catch(error => {
                        console.error('Error fetching item status:', error);
                    });

                
                
                $('#itemId').val(selectedId);
            });
        

            $('.setCategoryForUpdate a').on('click', function () {
                // Get the text of the clicked item
                var selectedText = $(this).text();
                var selectedId = $(this).attr('id');
                // Update the dropdown button text
                $('#updateItemCategory').text(selectedText);
                $('#updateCategoryId').val(selectedId);
            });


            // Event listener for dropdown items
            $('.orderItems a').on('click', function () {
                // Get the text of the clicked item
                var selectedText = $(this).text();
                var selectedId = $(this).attr('id');
                // Update the dropdown button text
                $('#orderItems').text(selectedText);
                // Update the dropdown button data-id attribute
                $('#orderItems').attr('data-id', selectedId);

                // Fetch the items for the selected category
                fetch('/get-items?categoryId=' + selectedId)
                    .then(response => response.json())
                    .then(data => {
                        var sortableList = $('#sortable');
                        sortableList.empty(); // Clear the existing list

                        // Populate the sortable list with fetched categories
                        data.items.forEach(function (item) {
                            var listItem = $('<li></li>')
                                .attr('data-id', item.item_id)
                                .text(item.item_name);
                            sortableList.append(listItem);
                        });

                        // Re-initialize sortable after dynamically adding items
                        $("#sortable").sortable("refresh");
                    }).catch(error => {
                        console.error('Error fetching categories:', error);
                    });
            });

            $('form[action="/deleteitem"]').on('submit', function (e) {
            if ($('#itemId').val() === "") {
                e.preventDefault();
                alert('Please Select an Item ');
            }
            });


            $("#sortable").sortable({
                update: function (event, ui) {
                    
                    var sortedIDs = $("#sortable").sortable("toArray", { attribute: "data-id" });
                    console.log(sortedIDs);
                    // Send sortedIDs to your backend to update the priority/order
                    // Example using fetch API:
                    fetch('/reorder-items', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ order: sortedIDs }),
                    }).then(response => response.json())
                        .then(data => {
                            console.log('Success:', data);
                        }).catch((error) => {
                            alert('Failed, please try again')
                            console.error('Error:', error);
                        });
                }
            });
            $("#sortable").disableSelection();
        });
    </script>

    
    <script>
        async function updateItem(event) {
            event.preventDefault();
            const form = event.target;
            if (!document.getElementById('updateCategoryId').value) {
            event.preventDefault();
            alert('Please choose a category.');
            return;
            }
            const formData = new FormData(form);
            console.log('Form data:', formData);
            console.log('Form data:', form);
            try {
                const response = await fetch('/update-item', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();
                if (data.success) {
                    alert('Item updated successfully');
                    form.reset();
                    location.reload();
                } else {
                    alert('Failed to add item please try again');
                }
                console.log(data);
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

    <script>
        async function upload(event) {
            event.preventDefault();
            const form = event.target;
            if (!document.getElementById('categoryId').value) {
            event.preventDefault();
            alert('Please choose a category.');
            return;
            }
            const formData = new FormData(form);
            console.log('Form data:', formData);
            console.log('Form data:', form);
            try {
                const response = await fetch('/additem', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();
                if (data.success) {
                    alert('Item added successfully');
                    form.reset();
                    location.reload();
                } else {
                    alert('Failed to add item please try again');
                }
                console.log(data);
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

</body>

</html>


