<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Easy Menu</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NJ44ZN37');</script>
    <!-- End Google Tag Manager -->
</head>

<body id="page-top">

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <link rel="alternate" hreflang="en" href="https://easymenus.eu">
<link rel="alternate" hreflang="de" href="https://de.easymenus.eu">
<script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
<script>
    Weglot.initialize({
        api_key: 'wg_ccdc61525b763853033f4669bd1f972d2'
    });
</script>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("sidebar.ejs") %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <!--<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                 Counter - Alerts 
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>-->
                            <!-- Dropdown - Alerts 
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                            -->
                        </li>

                        
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= user.company_name %></span>
                                <img class="img-profile rounded-circle"
                                    src="/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/management/profile/<%= user.user_id %>">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid"  style="margin-bottom: 40px;">
                    <div style="position: relative;margin-top: 15px;">
                        <div class="col" style="text-align: center;"><label class="col-form-label" style="position: relative;text-shadow: 0px 0px 0px var(--bs-link-color);">Menu URL</label></div>
                        <div class="col" style="text-align: center;"><a id="menuLink" href="<%= menu_name %>"> <%= menu_name %></a></div>
                    </div>
                    <div style="border-bottom-style: solid; margin:40px auto; width: 40%; text-align: center;"></div>
                    <div style="position: relative;margin-top: 15px;">
                        <div class="col" style="text-align: center;"><label class="col-form-label" style="position: relative;text-shadow: 0px 0px 0px var(--bs-link-color);">Menu background color</label></div>
                        <div class="col" style="text-align: center;">
                            <input type="color" id="colorPicker" data-id="<%= menu_id %>" style="border-radius: 8px;box-shadow: 1px 1px 5px var(--bs-blue);"  value="<%= background_color %>"/>
                            <p>Selected Color: <span id="<%= background_color %>"><%= background_color %></span></p>
                        </div>
                    </div>
                    <div style="border-bottom-style: solid; margin:40px auto; width: 40%; text-align: center;"></div>
                    <div style="position: relative;margin-top: 15px;">
                        <div class="col" style="text-align: center;">
                            <label for="select">choose the main menu langauge</label>
                            <select class="selectpicker" data-id="<%= menu_id %>" id="langaugepecker" data-width="fit">
                                <% langauges.forEach(function(langauge) {%>

                                <option data-content='<span class="flag-icon flag-icon-us"></span> <%= langauge.name %>'><%= langauge.name %></option>
                              <% });%>
                            </select>
                            <br>
                            <br>
                            <label for="select">choose the menu currency</label>
                            <select class="selectpicker" data-id="<%= menu_id %>" id="currencypecker" data-width="fit">
                                <% currencies.forEach(function(currency) {%>

                                <option data-id="<%= currency.sign %>"><%= currency.name %></option>
                              <% });%>
                            </select>
                        </div>
                    </div>
                    <div style="border-bottom-style: solid; margin:40px auto; width: 40%; text-align: center;"></div>
                    <form onsubmit="uploadImage(event)">
                        <!-- your form fields -->
                        <div style="position: relative;margin-top: 15px;">
                            <div class="col" style="text-align: center;"><label class="col-form-label"
                                    style="position: relative;text-shadow: 0px 0px 0px var(--bs-link-color);">Update Menu Logo</label></div>
                            <div class="col" style="text-align: center;"><input required name="image" type="file" accept="image/*" 
                                    style="border-radius: 4px;border-width: 0px;position: relative;" /></div>
                        </div>
                        <input type="hidden" name="menu_id" value="<%= menu_id %>">
                        <div
                            style="position: relative;margin-top: 40px;text-align: center;color: var(--bs-btn-disabled-color);">
                            <button class="btn btn-primary" type="submit"
                                style="background: rgb(42,208,28);position: relative;filter: brightness(96%) contrast(93%);backdrop-filter: blur(46px);transform: perspective(0px) translate(0px);">
                                Upload Image</button>
                    </form>
                    <div style="border-bottom-style: solid; margin:40px auto; width: 40%; text-align: center;"></div>
                    <div class="d-flex justify-content-center" style="margin-top: 40px; margin-bottom:40px; text-align: center;color: var(--bs-btn-disabled-color);">
                        <div class="col text-center" style="height: 128px; width: 128px;" id="qrcode">
                            <img src="<%= image %>" alt="QR Code" style="max-height: 100%; max-width: 100%;">
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="button" onClick="download()" data-id="<%= menu_id %>" style="background: rgb(42,208,28);position: relative;filter: brightness(96%) contrast(93%);backdrop-filter: blur(46px);transform: perspective(0px) translate(0px);">download QRCode</button>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("footer.ejs") %>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include("logoutModal.ejs") %>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <script>
         document.getElementById('colorPicker').addEventListener('change', function() {
        const selectedColor = this.value;
        const dataId = this.dataset.id;
        console.log('Selected color:', selectedColor);
        console.log('Data ID:', dataId);
        
        // Send the selected color to the server
        fetch('/updateColor', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ color: selectedColor, designId: dataId})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Color updated successfully');
                
            } else {
                console.error('Failed to update color');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
    document.getElementById('langaugepecker').addEventListener('change', function() {
        const selectedLangauge = this.value;
        const dataId = this.dataset.id;

        // Send the selected langauge to the server
        fetch('/updateLangauge', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ langauge: selectedLangauge, menuId: dataId})
        })
        .then(response => response.json())
        .then(data => {
            if (!data.success) {
                alert('Failed to update langauge, please try again');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    document.getElementById('currencypecker').addEventListener('change', function() {
        const currency = this.options[this.selectedIndex].dataset.id;
        const menu_id = this.dataset.id;
        // Send the selected langauge to the server
        fetch('/updateCurrency', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({menuId: menu_id, currency: currency})
        })
        .then(response => response.json())
        .then(data => {
            if (!data.success) {
                alert('Failed to update langauge, please try again');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    download = () => {
        const dataId = document.getElementById('qrcode').dataset.id;
        const link = document.createElement('a');
        link.download = 'QRCode.png';
        link.href = document.getElementById('qrcode').children[0].src;
        link.click();
    }
    </script>

        <script>
        async function uploadImage(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            console.log('Form data:', formData);
            console.log('Form data:', form);
            try {
                const response = await fetch('/uplaod-logo-image', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();
                if (data.success) {
                    alert('Image was asuccessfully uploaded');
                    form.reset();
                    location.reload();
                } else {
                    alert('Failed to add item please try again');
                }
                console.log(data);
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

</body>

</html>