<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Payment Settings</title>
    <link rel="icon" href="/assets//images/logo.ico" type="image/x-icon">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <div id="wrapper">
        <!-- Sidebar -->
        <%- include("sidebar.ejs") %>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= user.company_name %></span>
                                <img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/management/profile/<%= user.user_id %>">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Stripe Setup Section -->
                    <div style="border-bottom-style: solid; padding: 20px;">
                        <h3>Stripe Setup</h3>
                        <button id="setup-stripe" class="btn btn-primary">Connect with Stripe</button>
                        <div id="stripe-status" style="margin-top: 10px;"></div>
                        <% if (identity) { %>
                            <button id="verify-button" data-identity="<%= identity %>" class="btn btn-primary">Verify Identity</button>
                        <% } %>
                    </div>

                    <!-- PayPal Setup Section -->
                    <div style="border-bottom-style: solid; padding: 20px;">
                        <h3>PayPal Setup</h3>
                        <form id="paypal-form">
                            <div class="form-group">
                                <label for="paypalEmail">PayPal Email:</label>
                                <input type="email" class="form-control" id="paypalEmail" name="paypalEmail" required value="<%= user.paypalEmail %>">
                            </div>
                            <button type="submit" class="btn btn-primary">Save PayPal Settings</button>
                        </form>
                        <div id="paypal-status" style="margin-top: 10px;"></div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <%- include("footer.ejs") %>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include("logoutModal.ejs") %>

    <!-- Bootstrap core JavaScript-->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <script>
        document.getElementById('setup-stripe').addEventListener('click', async () => {
            const response = await fetch('/create-stripe-account-link', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ userId: '<%= user.user_id %>'})
            });
            const { url } = await response.json();
            window.location = url;
        });

        document.getElementById('verify-button').addEventListener('click', async () => {
            try {
                const sessionId = document.getElementById('verify-button').getAttribute('data-identity');
                const stripe = Stripe('pk_test_51POgvPKtWY2YbQ9RBUzTvfLwPk9DrQ4shZmfBtVydJHEsGEoCUo8Xxydkf08KQUw7YEY9oSkoNkiXC5uNdD8sd3o00B0pCADmi');
                stripe.verifyIdentity(sessionId);
            } catch (error) {
                console.error('Error:', error);
            }
        });

        document.getElementById('paypal-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const paypalEmail = document.getElementById('paypalEmail').value;
            const response = await fetch('/update-paypal-email', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ paypalEmail })
            });
            const result = await response.json();
            const statusDiv = document.getElementById('paypal-status');
            if (result.success) {
                statusDiv.textContent = 'PayPal email updated successfully!';
                statusDiv.style.color = 'green';
            } else {
                statusDiv.textContent = 'Error updating PayPal email.';
                statusDiv.style.color = 'red';
            }
        });
    </script>

</body>

</html>
