<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Easy Menu</title>
    <link rel="icon" href="/assets//images/logo.ico" type="image/x-icon">


    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/profile.css">
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NJ44ZN37');</script>
    <!-- End Google Tag Manager -->

</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("sidebar.ejs") %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= user.company_name %></span>
                                <img class="img-profile rounded-circle"
                                    src="/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/management/profile/<%= user.user_id %>">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- User Profile Section -->
                    <div style="border-bottom-style: solid; padding: 20px;">
                        <h3>User Information</h3>
                        <p><strong>Email:</strong> <%= user.email %></p>
                        <p><strong>Company Name: </strong> <%= user.company_name %></p>
                        <p><strong>Current Subscription: </strong> <%= subscription_plan.plan_name %></p>
                        <p><strong>Total Durations : </strong> <%= subscription_plan.duration_days %> days</p>
                        <p><strong>Status : </strong> <%= subscription_plan.status %></p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#changeEmailModal">Change Email</button>
                        <button class="btn btn-danger" value="<%= user.user_id %>">Cancel Subscription</button>
                        <div class="col" style="display: none; margin-top: 20px;" id="cancelLebal">
                            <label>suc</label>
                        </div>
                    </div>

                    <!-- Change Subscription Section -->
                    <div style="border-bottom-style: solid; padding: 20px;">
                        <h3>Change Subscription</h3>
                        <form onsubmit="changeSubscrption(event)">
                            <div class="form-group">
                                <label for="subscription">Select Subscription:</label>
                                <select class="form-control" id="subscription" name="subscription">
                                    <option value="basic">Standard Plan</option>
                                    <!--<option value="standard">Standard</option>
                                    <option value="premium">Premium</option>-->
                                </select>
                            </div>

                            <!-- Payment Frequency Section -->
                            <div class="form-group">
                                <label>Choose Billing Period:</label><br>
                                <label for="monthly">
                                    <input type="radio" id="monthly" name="billing_period" value="monthly" checked>
                                    <span class="original-price">29€</span>
                                    <span class="discounted-price">19€</span> 
                                    <span class="discount-notice">-34% Monthly</span>
                                </label><br>
                                <label for="yearly">
                                    <input type="radio" id="yearly" name="billing_period" value="yearly">
                                    <span class="original-price">348€</span>
                                    <span class="discounted-price">121€</span> 
                                    <span class="discount-notice">-65% Yearly</span>
                                </label>
                            </div>

                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>
                    </div>

                    <!-- Change Password Section -->
                    <div style="border-bottom-style: solid; padding: 20px;">
                        <h3>Change Password</h3>
                        <form onsubmit="changePass(event)" id="changePass">
                            <div class="form-group">
                                <label for="currentPassword">Current Password:</label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New Password:</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                                <input type="hidden" id="userId" name="userId" value="<%= user.user_id %>">
                            </div>
                            <button type="submit" class="btn btn-primary">Change Password</button>
                            <label id="errorLabel" style="display:none; color: red;">Current password does not match.</label>
                        </form>
                    </div>

                    <!-- Delete Account Section -->
                    <div style="padding: 20px;">
                        <h3>Delete Account</h3>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</button>
                    </div>

                    <!-- Delete Account Modal -->
                    <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteAccountModalLabel">Confirm Account Deletion</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">Are you sure you want to delete your account? This action cannot be undone.</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <form onsubmit="deleteAccount(event)">
                                        <input type="hidden" name="userId" value="<%= user.user_id %>">
                                        <button class="btn btn-danger" type="submit">Delete Account</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("footer.ejs") %>

        </div>
        <!-- End of Content Wrapper -->

        <!-- Change Email Modal -->
<div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-labelledby="changeEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeEmailModalLabel">Change Email Address</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form onsubmit="sendVerificationCode(event)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newEmail">New Email Address:</label>
                        <input type="email" class="form-control" id="newEmail" name="newEmail" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Verification Code</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Verification Code Modal -->
<div class="modal fade" id="verifyEmailModal" tabindex="-1" role="dialog" aria-labelledby="verifyEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verifyEmailModalLabel">Verify Email Address</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form onsubmit="verifyEmail(event)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="verificationCode">Verification Code Numbers:</label>
                        <input type="number" class="form-control" id="verificationCode" name="verificationCode" required>
                        <input type="hidden" id="pendingEmail" name="pendingEmail">
                    </div>
                    <button type="submit" class="btn btn-primary">Verify</button>
                    
                    <div>
                        <br>
                        <span id="errorLabel2" style="display:none ; color: red;"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include("logoutModal.ejs") %>
    

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script>
        document.querySelector('button[value="<%= user.user_id %>"]').addEventListener('click', async (event) => {
    event.preventDefault();
    const userId = event.target.value;
    try {
        const response = await fetch('/cancel-subscription', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ userId })
        });

        const result = await response.json();
        const cancelLebal = document.getElementById('cancelLebal');
        if (result.success) {
            cancelLebal.style.color = 'green';
            cancelLebal.innerHTML = result.message;
            cancelLebal.style.display = 'block';
        } else {
            cancelLebal.style.color = 'red';
            cancelLebal.innerHTML = result.message;
            cancelLebal.style.display = 'block';
        }
    } catch (err) {
        cancelLebal.style.color = 'red';
        cancelLebal.innerHTML = 'An error occurred. Please try again.';
        cancelLebal.style.display = 'block';
    }
});
    </script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/js/profile.js"></script>

</body>

</html>
